.header{
    padding: 0 16px;
    cursor: pointer;
}
header{
    border-bottom: 1px solid #80808057;
    position: fixed;
    width: 607px;
    background: white;
    z-index: 100;
}
.notifications{
    font-size: 20px;
    font-weight: 900;
    width: 90%;
    padding-top: 18px;
    padding-bottom: 15px;
}
.settings{
    margin: 6.5px 0 6.5px 21px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 50%;
    padding: 10px 10px 2px;
}
.settings:hover{
    background-color: rgba(29,161,242,0.1);
}
.tabs{
    width: 100%;
}
.tab{
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
    color: #5b7083;
    text-align: center;
    padding: 16px 0 0;
}
.all.tab {
    width: 46%;
}
.mentioned.tab {
    width: 54%;
}
.tab:hover{
    background-color: rgba(29,161,242,0.1);
    color: rgba(29,161,242,1.00);
}
.content {
    padding-top: 106px;
}
.active_route{
    color: rgba(29,161,242,1.00);
}
.active_route .line{
    display: block;
}
.line{
    border: 2px solid;
    border-radius: 2px;
    width: 21%;
    margin-left: 39%;
    margin-top: 12px;
    display: none;
}
@media(max-width:1281px){
    header{
        width: 600px;
    }
}