<header>
    <div class="header flex-r">
        <div class="notifications">Notifications</div>
        <div class="settings blue"><i [title]="'Settings'" class="fa fa-cog"></i></div>
    </div>
    <div class="tabs flex-r">
        <div class="all tab" routerLink="all" routerLinkActive="active_route">All
            <div class="line"></div>
        </div>
        <div class="mentioned tab" routerLink="mentions" routerLinkActive="active_route">Mentions
            <div class="line"></div>
        </div>
    </div>
</header>
<div class="content">
    <router-outlet></router-outlet>
</div>