.header{
    padding: 0 16px;
    cursor: pointer;
    border-bottom: 1px solid #80808057;
    position: fixed;
    width: 41.5%;
    background-color: white;
    z-index: 1;
}
header{
    background-color: white;
}
.home{
    font-size: 20px;
    font-weight: 900;
    width: 90%;
    padding: 14px 0;
}
.top-tweet{
    margin: 6.5px 0 6.5px 21px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 50%;
    padding: 7px 11px 2px 12px;
}
.top-tweet:hover{
    background-color: rgba(29,161,242,0.1);
}
.create {
    padding: 63px 16px 0;
}
.line {
    width: 100%;
    height: 10px;
    border: 1px solid #80808057;
    border-left: 0;
    border-right: 0;
}
img{
    width: 48px;
    cursor: pointer;
    z-index: 0;
}
.create,
.buttons{
    display: flex;
    flex-direction: row;
}
.input{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #80808057;
}
.create-tweet {
    width: 90%;
}
.profile-pic {
    margin-right: 12px;
}
.tweet-input{
    font-size: 20px;
    font-weight: 400;
    border: none;
    padding: 18px 0;
}
.reply-option {
    font-size: 13px;
    font-weight: 700;
    border-radius: 20px;
    padding: 4px;
    cursor: pointer;
    width: 28%;
    margin-bottom: 12px;
}
.reply-option:hover{
    background-color: rgba(29,161,242,0.1);
}
.fa-globe {
    font-size: 20px;
    margin-right: 6.5px;
    vertical-align: middle;
}
.buttons{
    padding: 12px 0;
    padding-bottom: 8px;
}
.icon {
    cursor: pointer;
    height: 1.5em;
    width: 1.5em;
    padding: 9px;
    fill: currentcolor;
}
.icon:hover{
    background-color: rgba(29,161,242,0.1);
    color: rgba(29,161,242,1.00);
    border-radius: 50%;
}
.gif{
    font-size: 10px;
    font-weight: 700;
    border: 2px solid;
    border-radius: 5px;
    padding: 2px;
}
.tweet{
    font-size: 15px;
    font-weight: 700;
    color: white;
    background-color: rgba(29,161,242,1.00);
    padding: 10px 19px;
    border-radius: 40px;
    cursor: default;
}
.tweet.disableBtn{
    background-color: rgba(29,161,242,0.5);
}
.tweet.enableBtn{
    background-color: rgba(29,161,242,1.00);
    cursor: pointer;
    transition: background-color 0.3s;
    transition-timing-function: ease-in-out;
}
.tweet.enableBtn:hover {
    background-color: rgba(26,145,218);
}
.tweet-btn {
    margin-top: 10px;
}
.icons {
    width: 65%;
}
.fa-circle-o {
    font-size: 25px;
    padding: 6px 11px;
}
.add-tweet {
    width: 22%;
}
.graph {
    border-right: 1px solid;
    height: 36px;
    margin-right: 12px;
    display: none;
}
.plus{
    cursor: pointer;
    margin-top: 12px;
    display: none;
}
.graph.enableBtn,
.plus.enableBtn{
    display: block;
}
.plus-icon{
    font-size: 26px;
    line-height: 10px;
    padding: 0 10px 6px;
    border: 1px solid;
    border-radius: 50%;
}
.plus-icon:hover{
    background-color: rgba(29,161,242,0.1);
}
.hide{
    display: none;
}
.descriptionImg{
    border-radius: 0;
    width: 400px;
    height: 400px;
}


@media(max-width:1281px){
    .header{
        width: 568px;
    }
}
