.header {
    padding: 0px 16px;
}
header {
    position: fixed;
    z-index: 100;
    background: white;
    width: 43.9%;
    border-bottom: 1px solid #80808057;
}
.show-profile-section {
    margin-top: 58px;
}
.back-arrow {
    font-size: 20px;
    padding: 9px 9px 0;
    border-radius: 50%;
    margin: 6px 16px 8px 0;
    cursor: pointer;
}
.back-arrow:hover{
    background-color: rgba(29,161,242,0.1);
}
.user {
    padding: 6.5px 0px;
}
.name {
    font-size: 20px;
    font-weight: 800;
}
.no-of-tweets,
.id,
.date,
.links {
    color: rgb(91, 112, 131);
    font-size: 13px;
    font-weight: 400;
}
.bg-img{
    border-radius: 0;
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.images{
    position: relative;
}
.profile-pic{
    background: #4c4747;
    width: 133px;
    height: 133px;
    border-radius: 50%;
    position: absolute;
    bottom: -29%;
    left: 13px;
    border: 4px solid white;
    cursor: pointer;
}
.profile-pic img{
    width: 133.5px;
    opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.profile-pic:hover img {
	opacity: 0.5;
}
.set-up-button {
    float: right;
    margin: 6px 16px;
    cursor: pointer;
}
.set-up-button:hover .button{
    background-color: rgba(29,161,242,0.1);
}
.button {
    font-size: 15px;
    font-weight: 700;
    padding: 9px 17px;
    border: 1px solid;
    border-radius: 30px;
}
.follow-button {
    padding-top: 5px;
    text-align: center;
}
.follow{
    margin-left: 453px;
    margin-right: 31px;
    font-size: 15px;
    font-weight: 700;
    color: white;
    background-color: rgba(29,161,242,1.00);
    padding: 6px 15px;
    border-radius: 35px;
    transition: background-color 0.5s;
    transition-timing-function: ease-in-out;
}
.follow:hover{
    background-color: rgb(141, 21, 21);
}
.unfollow{
    display: none;
}
.active .unfollow{
    display: block;
}
.active .following{
    display: none;
}
.user-info-section {
    margin: 64px 0 16px 16px;
}
.id {
    padding-top: 3px;
}
.id,
.date,
.links{
    font-size: 15px;
}
.date {
    margin: 10px 0;
}
.join,
.year {
    padding: 0 5px;
}
.fa-calendar{
    font-size: 17px;
    padding-right: 2px;
}
.link{
    width: 16.2%;
    cursor: pointer;
}
.link:hover{
    text-decoration: underline;
}
.num{
    color: black;
    font-weight: 700;
    padding-right: 4px;
}
.tabs{
    width: 100%;
    border-bottom: 1px solid #80808057;
}
.tab{
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
    color: #5b7083;
    text-align: center;
    padding: 16px 0 0;
}
.tab:hover{
    background-color: rgba(29,161,242,0.1);
    color: rgba(29,161,242,1.00);
}
.content {
    padding-top: 105px;
}
.active_route{
    color: rgba(29,161,242,1.00);
}
.active_route .line{
    display: block;
}
.line{
    border: 2px solid;
    border-radius: 2px;
    margin-left: 39%;
    margin-top: 12px;
    display: none;
    width: 21%;
}
.line1{
    width: 34%;
    margin-left: 32%;
}
.line2{
    margin-left: 22%;
    width: 55%;
}
.line3{
    width: 32%;
    margin-left: 33%;
}
.line4{
    width: 26%;
    margin-left: 36%;
}
.tweets{
    width: 23%;
}
.with_replies{
    width: 34%;
}
.media{
    width: 22%;
}
.likes{
    width: 21%;
}
@media(max-width:1281px){
    header{
        width: 46.8%;
    }
}