.header{
    padding: 0 16px;
    width: 567px;
    border-bottom: 1px solid #80808057;
    position: fixed;
    background: white;
    z-index: 10;
}
.bookmark{
    font-size: 20px;
    font-weight: 800;
    padding-top: 5px;
}
.id {
    color: rgb(91, 112, 131);
    font-size: 13px;
    font-weight: 400;
    padding-bottom: 5px;
}
.more {
    padding: 7px 0;
    font-size: 4px;
    width: 6%;
    text-align: center;
    margin-top: 6px;
    margin-bottom: 12px;
    border-radius: 50%;
}
.fa-circle {
    padding-right: 2px;
}
.more:hover{
    background-color: rgba(29,161,242,0.1);
    color: rgba(29,161,242,1.00);
}
.title-id {
    width: 95%;
}
.tweet-cards-section {
    padding-top: 50px;
}
