<div class="dialog-box">
    <header>
        <div class="header blue flex-r">
            <div class="cross" (click)="closeDialog()">
                <i class="fa fa-times"></i>
            </div>
            <div class="logo blue">
                <span class="edit">Edit Profile</span>
            </div>
            <button class="skip-option save" [disabled]="!editForm.valid" (click)="closeDialog()" (click)="updateUserData()">
                <span class="skip save">Save</span>
            </button>
        </div>
    </header>
    <section class="pick-header-section">
        <div class="upload-picture">
            <div class="bg-image">
                <i class="fa fa-camera h" (click)="uploadBannerPic.click()" [title]="'Add a photo'"></i>
                <div class="bg-img">
                    <img src={{bannerPic}}>
                </div>
                <input class="hide" #uploadBannerPic type="file" (change)="showBannerPic($event)">
                <div class="profilePic">
                    <i class="fa fa-camera" (click)="uploadProfilePic.click()" [title]="'Add a photo'"></i>
                    <img class="uploadPic" src={{profilePic}} alt="Profile Pic">
                    <input class="hide" #uploadProfilePic type="file" (change)="showProfilePic($event)">
                </div>
            </div>
        </div>
        <div class="form" [formGroup]="editForm">
            <div class="name">
                <mat-form-field appearance="fill">
                    <mat-label>Name</mat-label>
                    <input matInput type="text" formControlName="name">
                  </mat-form-field>
            </div>
            <div class="bio">
                <mat-form-field appearance="fill">
                    <mat-label>Bio</mat-label>
                    <input matInput type="text" formControlName="bio">
                  </mat-form-field>
            </div>
            <div class="location">
                <mat-form-field appearance="fill">
                    <mat-label>Location</mat-label>
                    <input matInput type="text" formControlName="location">
                  </mat-form-field>
            </div>
            <div class="website">
                <mat-form-field appearance="fill">
                    <mat-label>Website</mat-label>
                    <input matInput type="text" formControlName="website">
                  </mat-form-field>
            </div>
            <ngx-datepicker formControlName='birthdate'></ngx-datepicker>
        </div>
    </section>
</div>