::ng-deep .mat-dialog-container{
    width: 600px;
    border-radius: 18px;
    padding: 0;
}
.pick-picture,
.pick-header,
.bio-section,
.final-section {
    height: 500px;
    padding: 12px 0 12px 32px;
}
.skip-option {
    font-size: 15px;
    font-weight: 700;
    margin-left: 132px;
    margin-top: 10px;
}
.skip {
    padding: 7px 15px;
    border: 1px solid transparent;
    border-radius: 30px;
}
.skip:hover,
.cross:hover,
.cancel:hover{
    background-color: rgba(29,161,242,0.2);
}
i.fa.fa-twitter {
    font-size: 40px;
}
.header {
    float: right;
    margin-right: 13px;
}
.picture-section,
.pick-header-section {
    padding-top: 70px;
}
.pick {
    font-size: 23px;
    font-weight: 700;
    padding-bottom: 20px;
}
.selfie{
    font-size: 15px;
    font-weight: 400;
    color: rgb(91, 112, 131);
    padding-bottom: 20px;
}
/* .upload-picture img {
    width: 184px;
    text-align: center;
} */
.upload-picture  {
    text-align: center;
    position: relative;
    padding: 35px 0 100px;
}
.fa-camera{
    position: absolute;
    top: 35%;
    left: 47%;
    font-size: 20px;
    border: 1px solid transparent;
    border-radius: 50%;
    padding: 7px;
    cursor: pointer;
}
.fa-camera:hover{
    background-color: rgba(255, 255, 255, 0.281);
}
.hide{
    display: none;
}
.logo {
    margin-left: 230px;
}
.bg-img{
    width: 532px;
    height: 150px;
}
.bg-img img {
    border-radius: 0;
    width: 532px;
    height: 150px;
}
.profilePic{
    position: absolute;
    bottom: 21px;
    left: 16px;
    border: 4px solid white;
    width: 130px;
    height: 130px;
}
.fa-camera.h{
    top: 86px;
    left: 46%;
}
.uploadPic{
    width: 200px;
}
.name{
    font-size: 20px;
    font-weight: 700;
}
.id{
    font-size: 15px;
    font-weight: 400;
    color: rgb(91, 112, 131);
}
.cross,
.cancel {
    font-size: 25px;
    padding: 6px 6px;
    border: 1px solid transparent;
    border-radius: 50%;
    margin-bottom: 10px;
}
.cancel{
    margin-right: 521px;
}
.updated-section {
    padding: 165px 0 0;
    text-align: center;
}
.see-profile {
    font-size: 15px;
    font-weight: 700;
    color: white;
    background-color: rgba(29,161,242,1.00);
    padding: 15px 86px;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.5s;
    transition-timing-function: ease-in-out;
}
.see-profile:hover{
    background-color: rgba(26,145,218);
}
.updated-section .pick {
    padding-top: 88px;
}
.see-profile-btn {
    margin-top: 100px;
}
::ng-deep .mat-form-field-wrapper {
    width: 534px;
}
::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    border-radius: 4px 4px;
    border: 2px solid #80808042;
}
::ng-deep .active .mat-form-field-appearance-fill .mat-form-field-flex {
    border: 2px solid rgba(29,161,242,1.00);
}
::ng-deep .cdk-text-field-autofill-monitored:not(:-webkit-autofill) {
    font-size: 17px;
}
