<div class="app">
    <ng-sidebar-container>
        <ng-sidebar [opened]="opened" class="left-content">
            <app-sidebar></app-sidebar>
        </ng-sidebar>
        <div ng-sidebar-content class="right-content ">
            <div [@routeAnimations]="prepareRoute(outlet)" class="content-page ">
                <router-outlet #outlet="outlet"></router-outlet>
            </div>
            <div class="right-sidebar ">
                <app-right-page></app-right-page>
            </div>
        </div>
    </ng-sidebar-container>
</div>
