<div class="info">

    <p>Before diving head-first into the different types of media, it’s important to first dip your toes in the water and learn what media is. Media is a communication tool used to deliver information. The three types of media are commonly known as news media, social media, and web media, but you might also see them referred to as earned media, shared media, and owned media. </p>
    <br>
    <p>Social media (shared media)
    
        Social media is a digital tool, such as a website or app, that allows users to quickly and easily create and share content with the public. It’s the “evolving” media because the definition of it is constantly changing. Shared media is best defined as content posted to social media regarding your brand, such as posts on Pinterest, Twitter, Instagram, Facebook, and LinkedIn. This is also known as the most cost effective platform for PR. </p>
    <br>
        <p>News media (earned media) 
    
        News media takes mass media elements and uses them to deliver news to a target audience or the general public. It’s any material or content that is written about you or your company that you didn’t create or pay for yourself. For example, your company can earn a story in Forbes as opposed to paying for advertising. In today’s world, earned media can come in a variety of new forms, such as being featured in a review (even bad yelp reviews) or through a tweet about your business that was liked and retweeted. </p>
    <br>
        <p>Web media
    
        Web media is a form of communication that uses audio, text, and visuals on the web. Some examples of web media are videos, photos, and graphics. It’s content you own by personally creating it. Some examples of owned content that are popular today include podcasts, websites, blog posts, and videos. Owned media can also be content your employees created as long as that content is put into a contract signed by both parties. </p>
</div>