<section class="login-page" [formGroup]="loginForm">
    <div class="logo">
        <i class="fa fa-twitter blue"></i>
    </div>
    <div class="login-title">
        Log in to Twitter
    </div>
    <div #username class="username" [ngClass]="active ? 'active' : ''">
        <mat-form-field appearance="fill">
            <mat-label>Phone, email, or username</mat-label>
            <input matInput formControlName="userName">
        </mat-form-field>
    </div>
    <div #password class="password" [ngClass]="activePsd ? 'active' : ''">
        <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput formControlName="pswd" [type]="hide ? 'password' : 'text'">
        </mat-form-field>
    </div>
    <div (click)="openHomePage()" class="login-btn">
        <span class="login">Log in</span>
    </div>
    <div class="login-options blue">
        <span class="forgot-psd">Forgot password?</span>
        <span class="dot">
            <i class="fa fa-circle"></i>
        </span>
        <span mat-raised-button (click)="openDialog()" class="sign-up">Sign up for Twitter</span>
    </div>
</section>