.login-page {
    text-align: center;
    margin: 0 37%;
}
.logo,
.login-title{
    text-align: left;
}
.logo {
    font-size: 45px;
    margin: 22px 8px;
}
.login-title {
    font-size: 31px;
    font-weight: 700;
    margin: 32px 8px 12px;
}
.login {
    font-size: 15px;
    font-weight: 700;
    color: white;
    background: rgba(29,161,242,0.5);
    padding: 15px 151px;
    border-radius: 30px;
    cursor: default;
    
}
.enableBtn .login {
    background: rgba(29,161,242,1.00);
    cursor: pointer;
    transition: background-color 0.5s;
    transition-timing-function: ease-in-out;
}
.enableBtn .login:hover {
    background: rgba(26,145,218);
}
.username {
    margin: 30px 0 10px;
}
.login-btn {
    margin-top: 25px;
}
.login-options {
    margin-top: 50px;
}
.forgot-psd,
.sign-up{
    cursor: pointer;
}
.forgot-psd:hover,
.sign-up:hover{
    text-decoration: underline;
}
::ng-deep .login-page .mat-form-field-wrapper {
    width: 334px;
}
::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    border-radius: 4px 4px;
    border: 2px solid #80808042;
}
::ng-deep .active .mat-form-field-appearance-fill .mat-form-field-flex {
    border: 2px solid rgba(29,161,242,1.00);
}
::ng-deep .cdk-text-field-autofill-monitored:not(:-webkit-autofill) {
    font-size: 17px;
}