/* You can add global styles to this file, and also import other style files */
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css);

*{
    margin: 0;
    padding: 0;
    outline: none;
}
html{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body,
html{
    font: 14px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    height: 100%;

}

.clearfix {
    overflow: auto;
}

.clearfix::before {
    content: "";
    clear: both;
    display: table;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.blue{
    color: rgba(29,161,242,1.00);
}
img{
    border-radius: 50%;
}
.flex-r{
    display: flex;
    flex-direction: row;
}
.flex-c{
    display: flex;
    flex-direction: column;
}
header{
    cursor: pointer;
}

/* Tweet-Cards */

.tweet-card,
.reply-card {
    padding: 12px 16px;
    border-bottom: 1px solid #80808057;
    cursor: pointer;
}
.topic {
    padding: 0 0 6px;
    color: rgb(91, 112, 131);
}
.topic-icon {
    width: 8.5%;
    text-align: right;
    margin-right: 12px;
}
.topic-name {
    font-size: 13px;
    font-weight: 700;
}
.topic-name:hover,
.user-name:hover
{
    text-decoration: underline;
}
.user-pic {
    margin-right: 12px;
}
.user-pic img{
    width: 48px;
}
.user-name {
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.5px;
    padding-right: 4px;
}
.user-id,
.dot,
.creation-time,
.bars,
.operations{
    color: rgb(91, 112, 131);
}
.user-id,
.creation-time {
    font-size: 15px;
}
.dot {
    font-size: 3px;
}
.dot .fa-circle {
    padding: 10px 4px 0;
}
.creation-time {
    width: 60%;
}
.user-info .bars {
    font-size: 4px;
    padding: 10px;
    border-radius: 50%;
}
.user-info .bars:hover{
    background-color: rgba(29,161,242,0.1);
    color: rgba(29,161,242,1.00);
}
.user-info .bars .fa-circle{
    padding-left: 2px;
}
.user-info {
    margin-bottom: 2px;
}
.user-tweet {
    font-size: 15px;
    font-weight: 400;
    margin-top: -8px;
}
.operations {
    font-size: 14px;
    margin-top: 12px;
    width: 82.6%;
}
.count {
    padding: 0 12px 0 4px;
}
.tweet-data {
    padding-bottom: 12px;
}
.func{
    cursor: pointer;
    width: 80%;
}
.func-icon{
    padding: 8px;
    border-radius: 50%;
}

.reply-icon:hover .func-icon,
.share-icon:hover .func-icon{
    background-color: rgba(29,161,242,0.1);
    color: rgba(29,161,242,1.00);
}
.retweet-icon:hover .func-icon{
    background-color: rgba(25, 241, 123, 0.2);
    color: rgba(59, 235, 138,1.00);
}
.like-icon:hover .func-icon{
    background-color: rgba(223, 52, 47, 0.1);
    color: rgba(223, 52, 47,1.00);
}
.reply-icon:hover .count{
    color: rgba(29,161,242,1.00);
}
.like-icon:hover .count{
    color: rgba(223, 52, 47,1.00);
}
.liked{
    color: rgba(223, 52, 47,1.00);
}
.retweet-icon:hover .count{
    color: rgba(59, 235, 138,1.00);
}
.retweet-icon{
    position: relative;
}
.retweet-icon.retweeted .count,
.retweet-icon.retweeted .func-icon{
    color: rgba(59, 235, 138,1.00);
}
.retweet-options{
    width: 160px;
    border-radius: 4px;
    box-shadow: 1px 0px 9px 0px #80808073;
    font-size: 15px;
    font-weight: 400;
    position: absolute;
    background: white;
    z-index: 100;
    top: 0;
}
.share-icon{
    position: relative;
    width: 7%;
}
.tweet-data .options {
    width: 228px;
    border-radius: 4px;
    box-shadow: 1px 0px 9px 0px #80808073;
    font-size: 15px;
    font-weight: 400;
    position: absolute;
    background: white;
    z-index: 100;
    top: 0;
}
.tweet-data .options .option,
.retweet-options .option{
    padding: 16px;
}
.tweet-data .options .option .fa,
.retweet-options .option .fa{
    padding-right: 12px;
}
.txt{
    color: black;
}

/* Message */

.title{
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 10px;
}
.message-info {
    color: rgb(91, 112, 131);
    font-size: 15px;
    font-weight: 400;
}
.compose-btn{
    font-size: 15px;
    font-weight: 700;
    color: white;
    background: rgba(29,161,242,1.0);
    padding: 9px 15px;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.5s;
    transition-timing-function: ease-in-out;
}
.compose-btn:hover{
    background-color: rgba(26,145,218);
    /* background-color: blue; */
}
.compose-button{
    margin-top: 30px;

}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@media(max-width:1230px){
    .creation-time {
        width: 49%;
    }
    .user-info .bars {
        padding: 8px 10px 8px 8px;
    }
}
