.box {
    position: relative;
}
.box .retweet-count,
.box .like-count {
    position: absolute;
    height: 20px;
    top: 5px;
    left: 30px;
}
.pinned-options {
    top: 47px;
    width: 180px;
}
@keyframes heart {
    from {transform: scale(0.5);}
    to {transform: scale(1);}
}
.fa-heart{
    animation-delay: .2s;
    animation-name: heart;
    animation-duration: .5s;
    transform: scale(1);
}
.heart{
    position: relative;
    height: 14px;    
}
.heart .fa{
    position: absolute;
    height: 14px;
}
.circle {
    width: 25px;
    height: 25px;
    border: 1px solid violet;
    background-color: rgba(238, 130, 238, 1);
    border-radius: 50%;
    position: absolute;
    top: 1px;
    left: 1px;
    transform: scale(0);
    animation-name: heart;
    animation-duration: .3s;
}
.reply-card{
    position: relative;
}
.line {
    position: absolute;
    height: 102px;
    border: 1px solid rgb(196, 207, 214);
    background-color: rgb(196, 207, 214);
    top: 65px;
    left: 38px;
}
.replying-to {
    color: rgb(91, 112, 131);
    font-size: 15px;
    font-weight: 400;
    padding-bottom: 10px;
}
.user-data{
    width: 94%;
}